<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shayn.niceweather"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_sun"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.shayn.niceweather.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.shayn.niceweather.MenuPressBottom">
        </activity>
        
        <activity
            android:name="com.shayn.niceweather.CityList">
        </activity>
        
        <activity 
            android:name="com.shayn.niceweather.AirInfo">    
        </activity>
        
        <activity
            android:name="com.shayn.niceweather.AirInfoShare">
        </activity>
        
        <activity
            android:name="com.shayn.niceweather.WeatherIndex">
        </activity>
        
    </application>

</manifest>
